/* clerk-user-button */
.cl-userButtonBox {
  display: flex;
  flex-direction: row-reverse;
  /* Reverse the order of the flex items */
  align-items: center;
}

.custom-user-button .clerk-user-button .clerk-avatar {
  margin-right: 10px;
  /* Adjust spacing as needed */
}